@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Application.DTOs.CategoryDto

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800"></h1>
</div>
<div class="col-lg-6">

    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Create Category Form</h5>

            <!-- Horizontal Form -->
            <form asp-action="createItem" method="post" asp-controller="Category">
                @Html.AntiForgeryToken()
                <div class="row mb-3">
                    <label for="inputEmail3" class="col-sm-2 col-form-label">Category Name</label>
                    <div class="col-sm-10">
                        <input type="text" asp-for="Name" class="form-control" id="inputText">
                    </div>
                </div>
                
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form><!-- End Horizontal Form -->

        </div>
    </div>
